name: Rust
on:
  release:
    types: [ "released" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read # Required for actions/checkout
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
    steps:
    - name: Azure Login
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: Azure Functions Action
      uses: Azure/functions-action@v1.5.3
      with:
        # Name of the Azure Function App
        app-name: functions
        # Path to package or folder. *.zip or a folder to deploy
        package: .
        # Remove unwanted files defined in .funcignore file (default: 'false'). When this is set to 'true', 'package' should point to the folder of host.json.
        respect-funcignore: true
        # For function app on Flex Consumption plan, set this to 'flexconsumption'. You can skip this parameter for function app on other plans. If using RBAC credentials, then by default, GitHub Action will resolve the value for this paramter. But if using 'publish-profile', then you must set this for function app on Flex Consumption plan.
        sku: flexconsumption
          
